<header class="demo-drawer-header app-logged-in">
  <img src="images/user.jpg" class="demo-avatar">
  <div class="demo-avatar-dropdown">
    <span id="menu-user-name">username</span>
    <div class="mdl-layout-spacer"></div>
  </div>

</header>
<header class="demo-drawer-header app-not-logged-in"></header>
<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">

  <a class="mdl-navigation__link" href="#/home"><i class="mdl-color-text--blue-grey-400 material-icons">home</i>Home</a>
  <a class="mdl-navigation__link" href="#/code"><i class="mdl-color-text--blue-grey-400 material-icons">forum</i>Code</a>
  <a class="mdl-navigation__link" href="#/blog"><i class="mdl-color-text--blue-grey-400 material-icons">forum</i>Blog</a>
  <div class="mdl-layout-spacer"></div>
  <a class="mdl-navigation__link menu-user-logout" href="#/login"><i class="mdl-color-text--blue-grey-400 material-icons">power_settings_new</i>LogOut</a>
</nav>